@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
dame algunos juegos para poner como estos https://th.bing.com/th/id/R.d3b4dc2ee7694c75b534d4bc57f36b8d?rik=7%2b4twdalRf10Tw&pid=ImgRaw&r=0  ,  https://th.bing.com/th/id/OIP.ejzjTTvz-njNbg9RKUlRiQHaJM?rs=1&pid=ImgDetMain
https://www.esportmaniacos.com/wp-content/uploads/2021/10/rdr2-min.jpg, 

https://youtu.be/U6uyuIQYlfY

